/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*begin actual styles*/
html, body {
	background-color: white;
	font-family: Tahoma;
}

/*multi-use classes */
.st-width {
	width: 1080px;
	margin: auto;
}

.lb-border {
	border-bottom: 5px solid #11ade5;
}

.right-float {
	float: right;
}

.left-float {
	float: left;
}

/*top nav bar styles */

#top-nav {
	height : 60px;
	margin: auto;
}

#social-media {
	height: 60px;
	width: 275px;
	float: left;
	text-align: center;
}

#social-media ul {
	list-style-type:none;
	overflow:hidden;
}
#social-media ul li {
	float:left;
}
#social-media ul li a {
	display:block;
	height: 60px;
}


#fb {
	width: 68px;
	background-color: #3b5a9a;
}

#fb img, #li img {
	margin-top: 20px;
}

#tw img {
	margin-top: 25px;
}

#ema img {
	margin-top: 28px;
}



#tw, #ema, #li {
	width: 69px;
}

#tw {
	background-color: #11ade5;
}

#li {
	background-color: #0172b1;
}

#ema {
	background-color: #3c5f88;
}

#internal-nav {
	height: 60px;
	width: 804px;
	float: right;
	font-family: 'PT Sans Narrow', Myriad Pro, sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #11ade5;
}

#internal-nav ul {
	list-style-type:none;
	overflow:hidden;
	float: right;
}
#internal-nav ul li {
	float:left;
}
#internal-nav ul li a {
	display:block;
	height: 42px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 18px;
}

#internal-nav ul li a:hover {
	background-color: #11ade5;
	color: white;
}


/*banner styles*/

#header-bg {
	background-image: url("../img/banner_img.png");
	background-repeat: no-repeat;
	height: 298px;
}

#logo-branding {
	width: 275px;
	float: left;
}

#info-slider {
	width: 804px;
	float: right;
	height: 298px;
	text-align: center;
	vertical-align: middle;
    
}

#info-slider img {
	margin-top: 96px;
}

/* footer stylin' */
footer {
	border-top: 5px solid #0d82ac;
	background-color: #001017;
}

#footer-cont {
	margin-top: -5px;
	border-top: 5px solid #11ade5;
	background-color: #001c1f;
	overflow: hidden;
}

#footer-cont h4 {
	color: #11ade5;
	font-family: 'PT Sans Narrow', Myriad Pro, sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 40px;
}

#dem-tweets, #partners {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

#dem-tweets {
	float: left;
}

#partners {
	float: right;

}

.a-tweet {
	width: 100%;
	background-color: #001017;
	min-height: 80px;
	position: relative;	
	margin-bottom: 20px;
}
.tweet-pic{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
}

.tweet-content {
	margin-top: 15px;
	margin-right: 15px;
	float: right;
	width: 337px;
	color: white;
	padding-bottom: 15px;
	font-size: 12px;
}

.tweet-text {
	background-image: url("../img/quote-mark.png");
	background-repeat: no-repeat;
	padding-top: 16px;	
	height: 100%;	
}

.tweet-text p {
	padding-bottom: 10px;
	text-indent:16px;
}

.tweet-info {

}

.clear {
	
}

#cheating-footer {
	background-color: #001017;
}

#cheating-subfooter {
	background-color: #001c1f;
	padding-bottom: 10px;
}

#footer-foot {
	width: 1032px;
	background-color: #001017;
	margin: auto;
	padding: 9px;
	font-size: 10px;
	color: white;
		overflow: hidden;
}

.blue-hl {
		color: #11ade5;
}

.blue-hl:hover {
	text-decoration: underline;
}

footer a:hover {
	text-decoration: underline;
}